#main_index{
   margin: 30px;
   color: black; font-weight: bold;
}

#htmlCssBox a{
    text-decoration: none;
    color: black;
}
#htmlCssBox{
    border: 2px solid black;
    margin-bottom: 10px;
    
}