
/* li 헤더 제거, a태그 하이퍼링크 색상,밑줄제거, ul 들여쓰기제거 */
li{list-style-type: none;}
a{color: black; text-decoration: none;}
ul{padding:0px;margin: 0px;}


/* header part */
#header{
    width: 1280px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
#top_menu{
    text-align: right;
    padding: 10px;
}

#bottom_menu ul{
    font-size: 25px;
    padding: 20px;
    width: 700px;
    display: flex;
    justify-content: space-between;
}
/* header end */
#main_img{
    width: 100%;
    height: 250px;
    background-image: url(img/main_bg.png); /* 배경에 이미지 삽입 ※ 사이즈 필수 */
    background-repeat: no-repeat;    /* 자리가 남으면 채우기 repeat[기본값] */
    background-position: center;    /* 배경을 가운데로 */
    margin-bottom: 10px;
}

#main{
    width: 1280px;
    margin: 0 auto;
    display: flex;  /* 하위 요소들 가로 배치*/
    flex-wrap: nowrap;
    justify-content: space-between;     
}

#aside{
    width: 230px;

}

#aside h2{
    color: white;
    background-color: #0CA9A3;
    padding: 10px;
}
#aside p{
    padding: 0px 6px 0px 6px;
}


#aside h3{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #EEEEEE;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

#aside ul li{
    padding: 8px;
}

#content{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

#content h3{
    border-bottom: 1px solid black;
    width: 500px;
    box-sizing: border-box;
    height: 50px;
}
#content ul{
    width: 500px;
}

#content ul li{    
    padding: 5px;
    font-size: 14px;
}
.cont_right{
    padding-left: 280px;
}

#article{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

#article div{
    width: 240px;
}
#article h3{
    border-bottom: 1px solid black;
    width: 500px;
    padding-bottom: 10px;
    box-sizing: border-box;
    height: 50px;
}


/* footer part */
#footer{
    background-color: #05354E;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
#ft_box{
    width: 1280px;
    display: block; margin: 0 auto;
}

#ft_box1 ul{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.white{
    color: white;
}
#ft_box2{
    display: flex;
    justify-content: space-between;

}
/* footer end */