/* main CSS best50페이지 */

/* 헤더 상단 s */
#header{padding: 30px;}
#header_main{
    display: flex;
    justify-content: space-between;
   
}
.h_t_l{
    width: 300px;
    display: flex;
    margin: 3px;
    font-size: 12px;
    align-items: center;
}

#header div a{
    color: black;
    text-decoration: none;
}

.h_t_r{
    width: 300px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.h_logo{display: block;
    margin: 0 auto;
    width: 1100px;
    margin-bottom: 30px;
    margin-top: 60px;

}
/* 헤더 상단 e */
/* 헤더 카테고리 메뉴 s */
#h_menu{width: 1100px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 12px;
}
#h_menu >ul{display: flex;
    justify-content: space-between;
    position: relative;
}

#h_menu ul li:hover .subMenu{
    display: block;
    background-color: aliceblue;
    
}
.subMenu{
    display: none;
    position: absolute;
    top: 30px;  
}
#h_menu ul li .subMenu{
    line-height: 160%;
}

/* 헤더 카테고리 메뉴 e */

a{text-decoration: none; color: black;}/* a태그 기본값 */

#wrap7{     /* 페이지 총 사이즈 */
    width: 1480px;
    margin: 0 auto;
}
                                        /* BEST50 부분 */
#cell7{     /* 맨위 전체 테두리 */
    width: 1280px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0 ;
    margin: 0 auto 100px;
}
    #imgCell7{border-right: 1px solid #eaeaea;
        padding: 0 18px 0 0;
    }
    #imgBest7{width: 100%;}
    #align7 a, span{font-size: 12px; color: #999999;}/* 글자색 */


                          /* 메인 상품 있는부분 */
#mainCell7{width: 100%;}

    .itemForm7{
        width: 1280px; margin: 0px auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;    /* 자리가 부족하면 줄 바꿈 */
    }
        /* -----------------상품이미지 CSS------------------ */
        .itemCell7{width: 300px; margin-bottom: 80px;}       /* 이미지설정 */
            .itemCell7 img{width: 300px;}
        
        .itemName7{border-bottom: 1px solid #f0f0f0;margin-bottom: 8px;padding: 10px 0px 8px;}
        .itemName7 a{             /* 상품이름 폰트 */
            font-size: 12px; color: #7a7a7a;
            margin: 0px 0px 8px; padding: 10px 0px 8px;}
        
        .itemQ7{                /* 상품설명 폰트 */
            font-size: 12px; color: #c3c3c3;
            padding: 1px 0px;}
        
        .itemPrice7{             /* 가격 폰트 */
            font-size: 12px; color: #7a7a7a;
            padding: 3px 0px;}

        .itemCondition7 img{width: 54px; padding-top: 8px;}
        .sale7{font-size: 14px; color: #474a9B;font-weight: bold;}
        
    /* -----------------페이지이동 CSS------------------ */
    #pageForm7{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .pageTyep7{
        font-size: 25px;
        border-radius: 5px;
        background-color: white;
        color: black;
        width: 30px; height: 30px;
        text-align: center;}
        .pageTyep7:hover{background-color: black; color: white;}
    
    .pageTyepNo7{
        padding-top: 4px;
        width: 30px; height: 26px;
        font-size: 20px;
        border-radius: 5px;
        background-color: white;
        color: black;
        text-align: center;}
        .pageTyepNo7:hover{background-color: black; color: white;}
    #spacebar7{margin: 5px;}

    /* -----------------Popup CSS------------------ */
    #popupCell7{
        width: 200px;
        position: fixed;
        right: 15px; bottom: 8%;
    }
        .popupForm7{
            width: 200px;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .popupImg7{
            margin-top: 10px; margin-bottom: 10px;
            display: flex;
        }/* 이미지간격 */
        #buttonImg7{
            margin-top: 10px; margin-bottom: 10px;
            width: 45px;
        }
        #buttonImgVer27{
            margin-top: 10px; margin-bottom: 10px;
            width: 45px;
            transform: rotate(180deg);
        }
        
        
        .popupText7{
            position: absolute;
            top: 35%; right: 17%;
            font-size: 13px;
            color: black;
            background-color: yellow;
            width: auto; height: 18px;
            border: 1px solid rgb(255, 187, 0);
            border-radius: 5px;
            text-align: center;
            padding : 3px 5px;
            display: none;
        }
        .popupTextVer27{
            position: absolute;
            top: 30%; right: 17%;
            font-size: 13px;
            color: white;
            background-color: rgb(83, 83, 83);
            width: auto; height: 18px;
            border: 1px solid black;
            border-radius: 5px;
            text-align: center;
            padding : 3px 5px;
            display: none;
            justify-content: center;
            align-items: center;
        }
        .popupForm7:hover .popupText7{display: block;}
        .popupForm7:hover .popupTextVer27{display: flex;}

/* footer st */
#footer{background-color: white;  margin: 0 auto;
    border-top: 1px solid gray;
}

#footer .ftInner {
    width: 1100px; margin: 0 auto;
}

.footer_top{
    display: flex;
    padding: 20px;
}
.footer_top a{color: black; text-decoration-line: none;}

#ft_mid{
    display: flex; justify-content: space-between;  align-items:baseline;
    margin-bottom: 10px;
}

#ft_mid h3{font-size: 14px; padding: 15px;}
#ft_mid .call{font-size: 22px; font-weight: bold; padding: 22px;}
#ft_mid p{font-size: 11px;}

#ft_bot{
    font-size: 11px;
    display: flex; justify-content: space-between;
    font-size: 12px;
    color: #7A7A7A;
}
.ft_bot1{left: 0;
width: 400px;}
.ft_bot2_1{right: 0;
    width: 600px;
    display: flex; justify-content: right;
}
.kg{background-color: #7A7A7A;color: white;}
.ft_bot2 a{text-decoration-line: none; color: white;background-color: black;}
.ft_bot2{text-align: right;

}