.booking{size: 400px;}
.font1{
    color: yellow;
    font-size: 30px;
}
.col{
    color: darkgoldenrod;
}
.list1{
    background-color: darkcyan;
    color: white;
    margin: 30px 0px;
    padding: 30px
}
ul{
    font-weight: 30;
}